<div class="row">
  <div class="col">
    <button class="btn btn btn-outline-primary btn-round btn-sm" (click)="changePage('p')">
      Prev
    </button>
    <button class="btn btn btn-outline-primary btn-round btn-sm" (click)="changePage('f')">
      1
    </button>
    <button class="btn btn btn-outline-primary btn-round btn-sm" disabled>
      {{pageNum >1? (pageNum+1): '...'}}
    </button>
    <button class="btn btn btn-outline-primary btn-round btn-sm" (click)="changePage('n')">
      Next
    </button>
  </div>
</div>